body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
  background-image: url("./images/background.png");
  background-size: cover;
  font-weight: bold;
  color: white;
  text-align: center;
  background-position: center;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  color: #ffffff;
  width: 150px;
  background-color: rgba(240, 186, 49, 0.3);
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: 3px solid goldenrod;
  border-radius: 20px;
  margin-bottom: 2px;
  margin-top: 2px;
  cursor: pointer;
}

input {
  color: #ffffff;
  width: 150px;
  background: rgb(240, 186, 49, 0.3);
  font-weight: bold;
  border: 3px solid goldenrod;
  border-radius: 20px;
  margin-bottom: 2px;
  padding: 5px;
  margin-top: 2px;
  box-sizing: border-box;
}

input::placeholder {
  color: #dfdfdf;
  font-weight: 300;
}

h5 {
  margin: 10;
}

.card-container {
  border-radius: 100px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin: 0;
}

.card {
  height: 100px;
  margin: 10px;
}

#player-cards {
  margin-top: 120px;
}

.blink-won {
  animation: blink-won-animation 1s infinite;
}

@keyframes blink-won-animation {
  50% {
    color: rgb(26, 255, 0);
    font-size: 19px;
  }
}

.blink-loss {
  animation: blink-loss-animation 1s infinite;
}

@keyframes blink-loss-animation {
  50% {
    color: rgb(255, 0, 0);
    font-size: 19px;
  }
}

.blink-push {
  animation: blink-push-animation 1s infinite;
}

@keyframes blink-push-animation {
  50% {
    color: rgb(255, 221, 0);
    font-size: 19px;
  }
}
